/*header部分*/
body{
	overflow: hidden;
	background: #fff;
}
.navtou{
	background: #2e67a5;
	
}
.navtou a{
	color: #fff;
}
#daohang{
	font-size: 15px;
	margin-top:5px;
}
.navtou h1{
	color: #fff;
}
/*图片轮播部分*/
.lunbo{
	height: 240px;
}
/*审车预约部分,圆圈图标部分*/
.fuwu{
	display: flex;
	
}
.fuwu li{
	width: 25%;
	
	list-style: none;
}
/*添加车辆部分*/
.tianjia{
	width: 100%;
	height: 150px;
	background-color: #eee;
	/*margin-bottom: 200px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.tjkuang{
	width: 90%;
	height: 86%;
	border: 2px solid #3648a4;
	border-radius: 15px;
	background-color: #b6e2fa;
	text-align: center;
}
.tjkuang span{
	margin-top: 35px;
}
/*新增车辆跳转页面*/
.newcar{
	background-color: #2e67a5 ;
}
.newcar a{
	color: #fff;
}
.newcar h1{
	color: #fff;
}
/*温馨提示*/
.wtip{
	background: yellow;
}
.wtip p{
	color:orange ;
}
/*选择车辆类型*/
.cartype{
	margin-top: 10px;
	color: #333;
	border-bottom: 1px solid #ececec;
}
.zencar{
	background-color: #fff;
	border: none;
	/*display: block;*/
	display: flex;
	justify-content: space-between;
	height: 50px;
}
.zencar b{
	color: #000;
	/*font-size: 14px;*/
	/*float: left;*/
	margin-left: 10px;
}
.zencar span{
	color: #ccc;
}
.zencar i{
	color: #333;
	/*float: right;*/
	margin-right: 15px;
}
/*车牌号*/

.carpai{
	background-color: #fff;
	border: none;
	height: 50px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
}
.carpai b{
	color: #000;
	margin-left: 10px;
}
.carpai span{
	display: block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	background: #2e67a5;
	/*margin-left: 70px;*/
	text-align: center;
}
.carpai span label{
	color: #fff;
	font-weight: bold;
}
.carpai span i{
	color: #fff;
	font-weight: bold;
}
.hucar a{
	color: #fff;
}
.carpai input{
	border: none;
	width: 50%;
	align-self:center;
	margin-left:-50px;
	margin-top: 13px;


}
.carpai:nth-child(1){
	border-bottom: 1px solid #eee;
}
/*车主姓名*/
.carnamer{
	margin-top: 10px;
}
/*我的车辆部分*/
.myche{
	background-color:#2e67a5 ;
}
.myche h1{
	color: #fff;
	font-weight: bold;
}
.myche a{
	display: block;
	/*width: 80px;*/
	float: right;
	color: #fff;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 10px;
	font-weight: bold;
}
.myxiaoxi{
	background-color:#2e67a5 ;
}
.myxiaoxi h1{
	color: #fff;
	font-weight: bold;
}
/*个人中心部分*/
/*top*/
.cenren{
	height:180px;
	background-image: url(../img/ke.jpg);
	background-size: 100% 100%;
	position: relative;
}
.close{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 40%;
	top: 20%;
}
.close h5{
	color: red;
	font-size: 14px;
	font-weight: bolder;
	margin-left: 8px;
	margin-bottom: 15px;
}
.close input{
	display: block;
	position: absolute;
	top:-10px;
	opacity: 0;
	/*z-index: 999;*/
	width: 80px;
	height: 80px;
}
.close div{
	width: 80px;
	height: 80px;
	border: 1px solid #333;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	opacity:0.7;
}
.close div img{
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}
/*设置*/
.shezhi{
	position: absolute;
	right: 10px;
	top: 20px;
}
.shezhi i{
	color: #fff;
}
/*top--end*/
/*个人中心--基本信息部分*/
.jibenmes h4{
	height: 60px;
	line-height: 50px;
	border-top: 8px solid #eee;
	border-bottom: 2px solid #eee;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
}
.jibenmes ul{
	margin-left: -20px;
	display: flex;
}
.jibenmes ul li{
	list-style: none;
	width: 25%;
	text-align: center;
}
.jibenmes ul li div{
	color: #c40d2e;
	font-weight: bolder;
	font-size: 40px;
}
.jibenmes ul li p{
	color: #000;
	font-size: 14px;

	margin-top: 8px;
	font-family: "微软雅黑";
}
/*热点推荐部分*/
.hot{
	height: 50px;
	background: #fff;
	border-bottom: 2px solid #CCCCCC;
	/*padding-bottom: 30px;*/
	box-sizing: border-box;
	margin-bottom:50px;
}
.hot b{
	display: block;
	margin-top: -28px;
	margin-left: 15px;
	color: #C40D2E;
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 19px;
}
/**/
.datetext{
	float: left;
	color: #000;
	font-weight: bolder;
	margin-left: 15px;
}
#subjiao{
	display: block;
	width: 80%;
	height: 40px;
	background-color:#2e67a5 ;
	margin: 50px auto;
	border-radius: 10px;
	color: #fff;
	font-weight: bolder;
	font-size: 18px;
	letter-spacing: 2px;
}
